// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: rgb(240, 236, 230);
}

body h1 {
  font-family: "Nunito", "Helvetica", "sans-serif";
  margin: 20px 0;
}

.center-text {
  text-align: center;
}

.subtext-small {
  font-size: small;
}

ul {
  list-style-type: none;
}

.review-text {
  font-size: x-large;
  margin-bottom: 0;
}

.rating-text {
  font-size: large;
}

i{
  color: rgb(236, 217, 45);
}
